*_sol.ipynb
*_dummy.ipynb
*_practice.ipynb
*_practice.py
slides/*.pptx
__pycache__/

media/
logo/
manim_test.ipynb

temp.py

.vscode/

_memo/
scene/blender-material
figsrc/material-appearance
figsrc/radiance-constancy
figsrc/blender/
\[talk\]/2025postech/_old/
\[talk\]/2025postech/*.pptx
figsrc/*.pptx
